
  a[mat-button] {
    color:black;
    font-weight: 500;
    text-transform: none;
    background-color:lightgray;
    margin: 5px;
    border-radius: 15px;
  }
  .logo{
    font-weight: 900;
  }
  
  a.active-link {
    border-bottom: 60px solid #fff;
    color: aqua;
  }
  .header{
    margin-bottom: 40px;
  }
  
  